#Logo {
    display: inline-flexbox;
    width: 150px;
    position: absolute;
    left: 20px;
    background-color: black;
}

.Top {
    background-color: black;
    position: absolute;
    height: 100px;
    width: 100%;
    /* border-style: solid; */
}

.CC {
    color: aliceblue;
    display: inline-flexbox;
    /* margin: 20px; */
    width: 200px;
    position: absolute;
    left: 40px;
    top: 30px;
}