#Logo {
    display: inline-flexbox;
    width: 150px;
    margin-top: 0px;
    margin-bottom: 20px;
    background-color: black;
    
}

.Top {
    background-color: black;
    position: absolute;
}

.CC {
    color: aliceblue;
    display: inline-flexbox;
    position: absolute;
    left: 210px;
    top: 52px;

}