#Logo {
    display: inline-flexbox;
    width: 150px;
    position: absolute;
    left: 20px;
    background-color: black;
}

.Top {
    background-color: black;
    position: absolute;
    height: 90px;
    margin-top: -5px;
    width: 100%;
    /* border-style: solid; */
}

.CC {
    color: aliceblue;
    display: inline-flexbox;
    /* margin: 20px; */
    width: 200px;
    position: absolute;
    left: 40px;
    top: 30px;
}

#Creator {
    text-decoration: none;
    position: absolute;
    right: 450px;
    top: 55px;
}

#Character {
    text-decoration: none;
    position: absolute;
    right: 350px;
    top: 55px;
}

#Login {
    text-decoration: none;
    position: absolute;
    right: 280px;
    top: 55px;
}

#Register {
    text-decoration: none;
    position: absolute;
    right: 200px;
    top: 55px;
}

.Links {
    color: aliceblue;
    
}

.Links:hover {
    color: red;
}

.NavImg {
    width: 50px;
    /* margin-left: 10px; */
    margin-right: 20px;
    margin-top: 25px;
    border-radius: 40px;
    position:absolute;
    right: 10px;
    /* display: inline-flexbox; */
}

.navButton {
    text-decoration: none;
    position: absolute;
    right: 280px;
    top: 55px;
    /* font-size: medium; */
    background-color: transparent;
    color: aliceblue;
}

.navButton:hover {
    cursor: pointer;
    color: red;
}